openapi: 3.2.0
info:
  title: AI Squared Models API
  version: 1.0.0
  description: The AI Squared API. REST, JSON request/response bodies, JWT bearer authentication. Base URL https://api.squared.ai/api/v1/. Assembled verbatim from the per-operation OpenAPI documents AI Squared publishes on its own documentation host (docs.squared.ai/api-reference/*).
servers:
- url: https://api.squared.ai
security: []
tags:
- name: Models
paths:
  /api/v1/models:
    post:
      tags:
      - Models
      summary: Creates a model
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    query:
                      type: string
                    query_type:
                      type: string
                    configuration:
                      type: object
                    primary_key:
                      type: string
                    connector_id:
                      type: integer
                  required:
                  - connector_id
                  - name
                  - query_type
      responses:
        '201':
          description: Model created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          query:
                            type: string
                          query_type:
                            type: string
                          configuration:
                            type: object
                          primary_key:
                            type: string
                          connector_id:
                            type: integer
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
      security:
      - bearerAuth: []
      operationId: postApiV1Models
      x-operation-id-source: derived
    get:
      tags:
      - Models
      summary: Lists all models
      parameters:
      - name: query_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - data
          - ai_ml
          - raw_sql
          - dbt soql
          - table_selector
        description: query type
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            query:
                              type: string
                            query_type:
                              type: string
                            configuration:
                              type: object
                            primary_key:
                              type: string
                            connector_id:
                              type: integer
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      first:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                      last:
                        type: string
      security:
      - bearerAuth: []
      operationId: getApiV1Models
      x-operation-id-source: derived
  /api/v1/models/{id}:
    delete:
      tags:
      - Models
      summary: Deletes a model
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Model deleted
      security:
      - bearerAuth: []
      operationId: deleteApiV1ModelsById
      x-operation-id-source: derived
    get:
      tags:
      - Models
      summary: Retrieves a model
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          query:
                            type: string
                          query_type:
                            type: string
                          configuration:
                            type: object
                          primary_key:
                            type: string
                          connector_id:
                            type: integer
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
      security:
      - bearerAuth: []
      operationId: getApiV1ModelsById
      x-operation-id-source: derived
    put:
      tags:
      - Models
      summary: Updates a model
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    query:
                      type: string
                    query_type:
                      type: string
                    configuration:
                      type: object
                    primary_key:
                      type: string
                    connector_id:
                      type: integer
                  required:
                  - connector_id
                  - name
                  - query_type
      responses:
        '200':
          description: Model updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          query:
                            type: string
                          query_type:
                            type: string
                          configuration:
                            type: object
                          primary_key:
                            type: string
                          connector_id:
                            type: integer
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
      security:
      - bearerAuth: []
      operationId: putApiV1ModelsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-provenance:
  generated: '2026-09-13'
  method: searched
  source: https://docs.squared.ai/api-reference/ (per-operation OpenAPI documents published by AI Squared)
  assembly: mechanical merge of 29 provider-published OpenAPI 3.0.1 documents; every path item, parameter, requestBody, response and securityScheme is verbatim provider content. No operation, schema or example was authored by API Evangelist.
  ownership: info.title "AI Squared API" and servers[] https://api.squared.ai both name this provider; the documentation host docs.squared.ai is AI Squared's own (squared.ai redirects to aisquared.ai).
  note: AI Squared links a consolidated spec at /api-reference/openapi.yml from its llms.txt, but that path returns 404 (checked 2026-09-13); the per-operation documents embedded in each reference page are the reachable published form.
  operation_sources:
    POST /api/v1/connector_definitions/check_connection: https://docs.squared.ai/api-reference/connector_definitions/check_connection.md
    GET /api/v1/connector_definitions/{connector_name}: https://docs.squared.ai/api-reference/connector_definitions/connector_definition.md
    GET /api/v1/connector_definitions: https://docs.squared.ai/api-reference/connector_definitions/connector_definitions.md
    POST /api/v1/models: https://docs.squared.ai/api-reference/models/create-model.md
    POST /api/v1/catalogs: https://docs.squared.ai/api-reference/catalogs/create_catalog.md
    POST /api/v1/connectors: https://docs.squared.ai/api-reference/connectors/create_connector.md
    POST /api/v1/syncs: https://docs.squared.ai/api-reference/syncs/create_sync.md
    DELETE /api/v1/models/{id}: https://docs.squared.ai/api-reference/models/delete-model.md
    DELETE /api/v1/connectors/{id}: https://docs.squared.ai/api-reference/connectors/delete_connector.md
    DELETE /api/v1/syncs/{id}: https://docs.squared.ai/api-reference/syncs/delete_sync.md
    GET /api/v1/connectors/{id}/discover: https://docs.squared.ai/api-reference/connectors/discover.md
    GET /api/v1/models: https://docs.squared.ai/api-reference/models/get-all-models.md
    GET /api/v1/models/{id}: https://docs.squared.ai/api-reference/models/get-model.md
    GET /api/v1/connectors/{id}: https://docs.squared.ai/api-reference/connectors/get_connector.md
    GET /api/v1/syncs/{sync_id}/sync_runs/{sync_run_id}/sync_records: https://docs.squared.ai/api-reference/sync_records/get_sync_records.md
    GET /api/v1/syncs/{sync_id}/sync_runs/{sync_run_id}: https://docs.squared.ai/api-reference/sync_runs/get_sync_run.md
    GET /api/v1/syncs/{sync_id}/sync_runs: https://docs.squared.ai/api-reference/sync_runs/get_sync_runs.md
    GET /api/v1/syncs: https://docs.squared.ai/api-reference/syncs/get_syncs.md
    GET /api/v1/connectors: https://docs.squared.ai/api-reference/connectors/list_connectors.md
    DELETE /api/v1/schedule_syncs/{sync_id}: https://docs.squared.ai/api-reference/syncs/manual_sync_cancel.md
    POST /api/v1/schedule_syncs: https://docs.squared.ai/api-reference/syncs/manual_sync_trigger.md
    POST /api/v1/connectors/{id}/query_source: https://docs.squared.ai/api-reference/connectors/query_source.md
    GET /api/v1/syncs/{id}: https://docs.squared.ai/api-reference/syncs/show_sync.md
    GET /api/v1/syncs/configurations: https://docs.squared.ai/api-reference/syncs/sync_configuration.md
    POST /enterprise/api/v1/syncs/{sync_id}/test: https://docs.squared.ai/api-reference/syncs/test_sync.md
    PUT /api/v1/models/{id}: https://docs.squared.ai/api-reference/models/update-model.md
    PUT /api/v1/catalogs/{id}: https://docs.squared.ai/api-reference/catalogs/update_catalog.md
    PUT /api/v1/connectors/{id}: https://docs.squared.ai/api-reference/connectors/update_connector.md
    PUT /api/v1/syncs/{id}: https://docs.squared.ai/api-reference/syncs/update_sync.md
